.about {
	padding-bottom: 85px;
}

.about__btn {
	display: block;
	max-width: 319px;
	width: 100%;
	margin: 33px auto 0;
}

.about__wrap {
	padding-top: 105px;
}

@media (min-width: @min-lg) {
	.about {
		padding-top: 42px;
		padding-bottom: 124px;
	}

	.about__wrap {
		display: flex;
		padding-top: 180px;
	}

	.about__btn {
		margin: 24px 0 0 0;
		width: auto;
		display: inline-block;
	}
}
