.map__wrap {
	height: 232px;
	width: 100%;

	// background-image: url(../img/map/map.jpg);
	// background-repeat: no-repeat;
	// background-position: center;
	// background-size: cover;

	& .map {
		height: 232px;
		width: 100%;
	}
}


@media (min-width: @min-lg) {
	.map__wrap {
		height: 320px;

		// background-image: url(../img/map/map@768.jpg);

		& .map {
			height: 320px;
		}
	}
}
