doctype html
html(lang="en")
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width,initial-scale=1')
		title Оффлайн ИНТЕНСИВЫ ПО ПРОГРАММИРОВАНИЮ
		//  favicon
		link(rel='apple-touch-icon', sizes='57x57', href='img/favicon/apple-icon-57x57.png')
		link(rel='apple-touch-icon', sizes='60x60', href='img/favicon/apple-icon-60x60.png')
		link(rel='apple-touch-icon', sizes='72x72', href='img/favicon/apple-icon-72x72.png')
		link(rel='apple-touch-icon', sizes='76x76', href='img/favicon/apple-icon-76x76.png')
		link(rel='apple-touch-icon', sizes='114x114', href='img/favicon/apple-icon-114x114.png')
		link(rel='apple-touch-icon', sizes='120x120', href='img/favicon/apple-icon-120x120.png')
		link(rel='apple-touch-icon', sizes='144x144', href='img/favicon/apple-icon-144x144.png')
		link(rel='apple-touch-icon', sizes='152x152', href='img/favicon/apple-icon-152x152.png')
		link(rel='apple-touch-icon', sizes='180x180', href='img/favicon/apple-icon-180x180.png')
		link(rel='icon', type='image/png', sizes='192x192', href='img/favicon/android-icon-192x192.png')
		link(rel='icon', type='image/png', sizes='32x32', href='img/favicon/favicon-32x32.png')
		link(rel='icon', type='image/png', sizes='96x96', href='img/favicon/favicon-96x96.png')
		link(rel='icon', type='image/png', sizes='16x16', href='img/favicon/favicon-16x16.png')
		link(rel='manifest', href='manifest.json')
		meta(name='msapplication-TileColor', content='#FEE500')
		meta(name='msapplication-TileImage', content='/ms-icon-144x144.png')
		link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
		meta(name='theme-color', content='#FEE500')
		//  /favicon
		link(rel='stylesheet', href='./css/style.css')
	body
		//  overflow
		.overflow
			//  header-page
			header.header-page
				//  wrap
				.wrap
					//  nav-page
					nav.nav-page
						a.nav-page__logo(href='./', aria-current='page')
							img.logo-full(src='./img/logo/logo-full.svg', alt='«Инжинириум» МГТУ им. Н.Э. Баумана')
						//  nav-page__wrap-list
						.nav-page__wrap-list.js-nav-page-wrap-list
							//  nav-page__list
							ul.nav-page__list.nav-page__list--page
								li.nav-page__item
									a.nav-page__link(href='#about') О нас
								li.nav-page__item
									a.nav-page__link(href='#cource') Курсы
								li.nav-page__item
									a.nav-page__link(href='#faq') FAQ
								li.nav-page__item
									a.nav-page__link(href='#contact') Контакты
							//  /nav-page__list
							//  nav-page__list-end
							.nav-page__list.nav-page__list--end
								a.nav-page__link.nav-page__link--icon(href='tel:79997004061') 7-999-700-40-61
								a.nav-page__link.btn.hidde-lg(href='#') Записаться
							//  /nav-page__list-end
						//  nav-page__wrap-list
						button.nav-page__toggle.js-nav-page-toggle(type='button')
							span.visually-hidden Показать меню
					//  /nav-page
				//  /wrap
			//  /header-page
			//  main
			main
				//  top
				section.top
					//  container-flex-desktop
					.wrap.container-flex-desktop
						//  container-text
						.container-text
							h1 Оффлайн ИНТЕНСИВЫ ПО ПРОГРАММИРОВАНИЮ
							a.top__btn.btn.btn--action(href='#') Записаться
							a.top__btn.btn(href='#') О школе
						//  /container-text
						.top__container-decor.container-decor
					//  /container-flex-desktop
				//  /top
				//  step
				section.step
					h2.visually-hidden Уровни обучения
					//  wrap
					.wrap
						//  step__list
						ol.step__list
							li.step__item
								p детский сад
								h3 Увлекательные курсы
								p для самых маленьких
							li.step__item
								p 1-4 класс
								h3 Подготовительные курсы
								p для младших классов
							li.step__item
								p 5-8 класс
								h3 Инженерные курсы
								p курсы для средней школы разной сложности
							li.step__item
								p 9-11 класс
								h3 Технопарк
								p Подготовка к поступлению в ВУЗ, проектная деятельность
							li.step__item
								img(src='./img/step/step-logo.png', alt='логотип МГТУ им. Н.Э. Баумана')
								h3 МГТУ им. Н.Э. Баумана
								p Поступление в ведущий ВУЗ страны
						//  /step__list
						iframe(width='1140', height='641', src='https://www.youtube.com/embed/WC2hRZlrcbs', title='YouTube video player', allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture', allowfullscreen)
					//  /wrap
				//  /step
				//  about
				section#about.about
					h2.visually-hidden о нас
					//  container-flex-desktop
					.wrap.container-flex-desktop
						//  container-text
						.container-text
							p НАША ЦЕЛЬ — создание нового поколения молодых инженеров
							p Задача организации, в особенности же реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
							p Задача организации, в особенности же реализация намеченных плановых заданий влечет за собой процесс внедрения.
							a.about__btn.btn.btn--action(href='#') Записаться
						//  /container-text
						.about__container-decor.container-decor
					//  /container-flex-desktop
				//  /about
				//  cource
				section#cource.cource
					.cource__wrap.wrap
						h2 Курсы инжинириума
						ul.cource__list
							li.cource__item.cource__item--pyton Программирование на python (5-8 класс)
							li.cource__item.cource__item--pyton Программирование на python (9-11 класс)
							li.cource__item.cource__item--c Программирование на C++ (9-11 класс)
							li.cource__item.cource__item--web WEB-программирование (5-8 класс)
							li.cource__item.cource__item--web WEB-программирование (5-8 класс)
				//  /cource
				//  faq
				section#faq.faq
					//  container-flex-desktop
					.wrap.container-flex-desktop
						.faq__container-decor.container-decor
						//  container-text
						.container-text
							h2 Часто задаваемые вопросы
							ul.faq__list
								li.faq__item Какая длительность одного занятия?
								li.faq__item Сколько длится полный курс?
								li.faq__item Есть ли дни открытых дверей?
								li.faq__item Остались вопросы?
							p
								| Позвоните нам:
								a(href='79997004061') 7-999-700-40-61
						//  /container-text
					//  /container-flex-desktop
				//  /faq
				//  map
				section#contact.map
					h2.visually-hidden Контакты
					.map__wrap.wrap
						#map.map(aria-hidden='true', style='width: 100%; height: 320px;')
				//  /map
			//  /main
			//  page-footer
			footer.page-footer
				.wrap
					//  nav-page
					nav.nav-page
						a(href='./', aria-current='page')
							img.logo-full(src='./img/logo/logo-full.svg', alt='«Инжинириум» МГТУ им. Н.Э. Баумана')
						//  nav-page__wrap-list
						.nav-page__wrap-list
							//  nav-page__list
							ul.nav-page__list.nav-page__list--page
								li.nav-page__item
									a.nav-page__link(href='#about') О нас
								li.nav-page__item
									a.nav-page__link(href='#cource') Курсы
								li.nav-page__item
									a.nav-page__link(href='#faq') FAQ
								li.nav-page__item
									a.nav-page__link(href='#contact') Контакты
							//  /nav-page__list
							//  nav-page__list-end
							.nav-page__list.nav-page__list--end
								a.nav-page__link.nav-page__link--icon(href='tel:79997004061') 7-999-700-40-61
								//  nav-page__social-list
								ul.nav-page__social-list
									li.nav-page__social-item
										a.nav-page__social.nav-page__social--youtube(href='https://www.youtube.com/channel/UCBx0xw9L-vvIkiNeCWrP75Q/videos')
											span.visually-hidden Youtube.com
									li.nav-page__social-item
										a.nav-page__social.nav-page__social--vk(href='https://vk.com/inginirium_cherepovec')
											span.visually-hidden Вконтакте
								//  /nav-page__social-list
							//  /nav-page__list-end
						//  nav-page__wrap-list
					//  /nav-page
			//  /page-footer
		//  /overflow
		script(src='./js/picturefill.js', async)
		script(src='./js/loading-attribute-polyfill.umd.js', async)
		script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU')
		script
			include ../../build/js/main.min.js
		//- script(src='js/main.js')
