body {
	margin: 0;
	padding: 0;

	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 144%;
}

h1,
h2,
h3 {
	font-family: 'Roboto Slab', serif;
}

img,
iframe,
video {
	max-width: 100%;
}

.visually-hidden {
	position: absolute;
	width: 0;
	height: 0;
	padding: 0;
	margin: 0;
	border: none;
	overflow: hidden;
}

@media (max-width: @max-lg) {
	.hidde-lg {
		display: none;
	}
}

.overflow {
	overflow: hidden;
}

.map {
	position: relative;
}
